.principal-container{
    position: absolute;
    margin-left: 270px;
    margin-top: 346px;
}

.button-1{
    position: absolute;
}

.button-1:hover{
    filter: grayscale(100%);
}

.button-2{
    position: absolute;
    margin-top: 134px;
}

.button-2:hover{
    filter: grayscale(100%);
}

.button-3{
    position: absolute;
    margin-top: 266px;
}

.button-3:hover{
    filter: grayscale(100%);
}

.button-pause-1{
    position: absolute;
    margin-top: 260px;
    margin-left: 660px;
}

.button-pause-1:hover{
    filter: grayscale(100%);
}

.button-pause-2{
    position: absolute;
    margin-top: 410px;
    margin-left: 660px;
}

.button-pause-2:hover{
    filter: grayscale(100%);
}
.button-pause-3{
    position: absolute;
    margin-top: 400px;
    margin-left: 660px;
}

.button-pause-3:hover{
    filter: grayscale(100%);
}
.button-ranking-1{
    position: absolute;
    margin-top: 600px;
    margin-left: 1187px;
}

.button-ranking-1:hover{
    filter: grayscale(100%);
}
.button-options-1{
    position: absolute;
    margin-top: 570px;
    margin-left: 1110px;
}

.button-options-1:hover{
    filter: grayscale(100%);
}
.opciones-container{
    width: 100%;
    position: absolute;
}

.ranking-container{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    margin-top: 285px;
    padding-right: 50px;
    height: 205px;
}

.musica{
   
    margin-top: 718px;
    margin-left: 1225px;
}

.play{
    height: 30px;
    border-radius: 4px;
    border-color: white;
    background-color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.play:hover{
    color: gray;
}

.stop{
    height: 30px;
    border-radius: 4px;
    border-color: white;
    background-color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    ;
}

.stop:hover{
    background-color: midnightblue;
    color: gray;
}

.half-screen{
    width: 20%;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.ranking-container::-webkit-scrollbar {
  display: none;
}